html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
    text-align: center;
    color: black;
}
h2.HomeH2
{
    color: red;
}

h1.CityHead {
    text-align: left;
    background: none;
    color: black;
}

h1.display-4 {
    color: yellow;
    border-style: solid;
    border-radius:20px / 30px;
    border-spacing: inherit;
}

h1.EventHead {
    text-align: left;
    background: none;
    color: black;
}

h1.RestoHead {
    text-align: left;
    background: none;
    color: black;
}

h1.StoreHead
{
    text-align: left;
    background: none;
    color: black;
}

h1.PrivacyHeading
{
    text-align: left;
    background: none;
    color: black;
}

.CityPhoto
{
    background: url(/img/aucklandcityphoto.jpg);
    background-size: cover;
}

.RestaurantPhoto
{
}

.EventPhoto
{

}

.StorePhoto
{

}

.HomeBackground {
    background: url(/img/Auckland_Skyline_as_seen_from_Devonport_20100128_3.jpg);
    background-size: cover;
}

/*
#HomeBackground {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    animation: fader 30s cubic-bezier(.8,0,0,8) infinite;
    background: url(/img/banauericeterraces.png);
}

#Wrapper
{

}

@keyframes fader 
{
    5% {
        background: url(/img/banauericeterraces.png); 
        background-size:cover;
    }
    25% {
        background: url(/img/banauericeterraces.jpg);
        background-size: cover;
    }
    55% {
        background: url(/img/banauericeterraces.png); 
        background-size:cover;
    }
    75% {
        background: url(/img/banauericeterraces.jpg);
        background-size: cover;
    }
    100% {
        background: url(/img/banauericeterraces.png);
        background-size: cover;
    }

}
*/
