@{
    ViewData["Title"] = "Home Page";
}
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <body class="HomeBackground">
   <div class="text-center">
    <h1 class="display-4"><b>Three and a Stars NZ</b></h1>
    <h2 class="HomeH2">A Filipino Directory for New Zealanders</h2>
   </div>

</body>







