@{
    ViewData["Title"] = "Home Page";
}
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <body id="HomeBackground">
   <div class="text-center">
    <h1 class="display-4"><b>Three and a Stars NZ</b></h1>
    <h2 class="HomeH2">A Filipino Directory for New Zealanders</h2>
   </div>
   <br />
   <br />
</body>








 <br>
 <br>
 <div class="aklContainer">
  <img src="../img/aucklandcityphoto.jpg" alt="Auckland City" class="aklimage">
  <div class="aklOverlay">
    <div class="text">Hello World</div>
  </div>
</div>

